{% load staticfiles %}
<div class="thumbnail text-center" >

        <h4> <a href="{{ reld.get_absolute_url }}">{{ reld.title }}<br/></a></h4>
       {% if reld.get_image_url %}
        <a href="{{ reld.get_absolute_url }}"> <img  id="img"class="img-responsive" src="{{reld.get_image_url}}" />  </a> <br/>

        {% endif %}
    {% if  price == "True" %}

    {{ reld.variotion_set.first.get_html_price|safe }}

    {% else %}
    {% endif %}
    {% if not price == "True" %}

    {{ reld.variotion_set.first.get_html_price|safe }}
    {% endif %}
</div>
