{% extends 'base.html' %}

{% block content %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC2uXVXus8Pb2Zxmlc6vwbT1MWDKKDRSzyM2h9ZoLDpo7pLU4reg" alt="First slide"width="2000" height="1000">
      <div class="carousel-caption">

      </div>
    </div>
    <div class="item">
      <img src="https://www.totallypromotional.com/media/totallypromotional/images/social/Totally-Promotional-Site.jpg" alt="..."width="3000" height="1000">
      <div class="carousel-caption">

      </div>
    </div>
     <div class="item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6mEdxZ8ZdHJCApc5DTrVUWgaMo0UroaoNhIoEI6XBUrkcXIzj" alt=".."width="3000" height="1000">
      <div class="carousel-caption">

      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container ">
    <div class="col-sm-12">

        <h1>All Products <small><a href="{% url 'categories' %}"> Categories</a> </small></h1>
   {% include "products/products.html" with object_list=object_list%}
    <br/>
     </div></div>
    {% endblock %}